{% extends "layout.html" %}

{% load humanize %}

{% load crispy_forms_tags %}

{% load tailwind_field %}

{% block content %}
  <section class="bg-white py-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4  sm:px-6 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ object.model }}</h2>
        <p class="mt-4 text-gray-500">{{ object.created_at | naturaltime }}</p>

        <img
          src="{{ object.photo.url }}"
          alt="{{ object.model }}"
          class="rounded-lg bg-gray-100 mt-4"
        >
        {% if user.is_authenticated %}
          <div class="mt-8">
            <a href="#" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Editar</a>
            <a
              href="#"
              onclick="toggleDiv()"
              class="inline-block rounded-md border border-transparent bg-red-600 px-8 py-3 text-center font-medium text-white hover:bg-red-700"
            >Excluir</a>
          </div>
        {% endif %}

        <div class="border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Descrição</dt>
          <dd class="mt-2 text-sm text-gray-500"> {{ object.description }}</dd>
        </div>

        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Marca</dt>
            <dd class="mt-2 text-sm text-gray-500"> {{ object.brand }}</dd>
          </div>
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Ano Fabricação</dt>
            <dd class="mt-2 text-sm text-gray-500">{{ object.factory_year }}</dd>
          </div>
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Ano de Lançamento</dt>
            <dd class="mt-2 text-sm text-gray-500">{{ object.model_year }}</dd>
          </div>
          {% if object.plate %}
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Placa</dt>
              <dd class="mt-2 text-sm text-gray-500">{{ object.plate }}</dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>
    <div id="modal">
      <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" >
        <!--
          Background backdrop, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          aria-hidden="true"
        ></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Apagar anúncio</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500">Tem certeza que deseja apagar este anúncio?</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <a
                  href="{% url 'delete' object.pk %}"
                  class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
                >Sim</a>
                <a
                  href="#"
                  onclick="toggleDiv()"
                  class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                >Não</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
{% endblock %}
